<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Photo Gallery </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Photo Gallery</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- CHANGE: Add a grid component to display the photos. -->
  <ion-grid>
    <ion-row>
      <!-- CHANGE: Create a new column and image component for each photo -->
      <ion-col
        size="6"
        class="photo-card"
        role="button"
        tabindex="0"
        *ngFor="let photo of photoService.photos; index as position"
        (click)="onPhotoInteraction($event, photo, position)"
        (touchend)="onPhotoInteraction($event, photo, position)"
        (keydown.enter)="showActionSheet(photo, position)">
        <button
          class="favorite-button"
          type="button"
          (click)="onFavoriteButtonInteraction($event, photo)"
          (touchend)="onFavoriteButtonInteraction($event, photo)">
          <ion-icon [name]="isFavorite(photo) ? 'heart' : 'heart-outline'"></ion-icon>
        </button>
        <button
          class="delete-button"
          type="button"
          (click)="onDeleteButtonInteraction($event, photo, position)"
          (touchend)="onDeleteButtonInteraction($event, photo, position)">
          Delete
        </button>
        <img class="gallery-photo" [src]="photo.webviewPath" alt="Photo" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()" (keydown.enter)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>